{% extends 'accounts/base.html'%}
{% load static %}
{%block content%}
{% for i in VProf %}
<div class="row">
    <div class="col-sm-5">
        <img class="img-rounded" src="{{i.photo.url}}"  width="304" height="304">
    </div>
    <div class="col-sm-6">
        <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row">First Name</th>
                <td>{{i.firstname}}</td> 
              </tr>
              <tr>
                <th scope="row">Last Name</th>
                <td>{{i.lastname}}</td> 
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>{{i.email}}</td> 
              </tr>
              <tr>
                <th scope="row">Description</th>
                <td>{{i.desc}}</td> 
              </tr>
              <tr>
                <th scope="row">Category</th>
                <td>{{i.category}}</td> 
              </tr>
              <tr>
                <th scope="row">Product</th>
                <td>{{i.product}}</td> 
              </tr>
              <tr>
                <th scope="row">Contact Details</th>
                <td>{{i.contact_details}}</td> 
              </tr>
            
            </tbody>
          </table>
    </div>
{% endfor %}
{% endblock content %}